# User-specific override
profiles-local/
.env

analyzer/estim_sensations.json

analyzer/audio/*
analyzer/context/*
analyzer/spectrum/*
!analyzer/audio/.gitkeep
!analyzer/context/.gitkeep
!analyzer/spectrum/.gitkeep
